#Tarjeta {
    background-color: rgb(170, 159, 159);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}

#Titulo{
    color: black;
    font-size: 50px;
    text-align: center;
}

#OrdenarTarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 1200px; 
    margin: 0 auto; 
}

#Tipo{
    color: black;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-color: black;
}

@media (max-width: 768px) {
    #Tarjeta {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    #Tarjeta {
        flex: 1 1 100%; 
    }
}